.sidebar {
   grid-template-rows: auto 3fr auto;
   min-width: 150px;
   max-width: 300px;
 }
 
.container {
  grid-template-areas: "padded content";
  grid-template-columns: minmax(150px, 300px) minmax(auto, 550px);
}

.content {
  grid-area: content;
}
