.item {
  @apply ml-4 my-0 leading-relaxed;
}


.screenshots {
  grid-template-columns: auto;
  grid-column-gap: 2rem;
}

/* Small (sm) */
@media (min-width: 640px) {
  .screenshots {
    grid-template-columns: auto auto;
  }
}
